{% extends "/proj/projbase.html.twig" %}

{% block title %}Api{% endblock %}

{% block body %}
    <h1>Api<hr></h1>

    <h3>Search for players in the database:</h3>
    <div class="cards">
    <p>Enter name (or prefix):</p>
    <form method="post" action="{{ path('search_name') }}">
    <input type="text" name="name" placeholder="enter name"><br>
    <input type="submit" class="btn" name="do_it" value="Search">
    </form></div><hr>

    <h3>Show all players in database:</h3>
    <div class="cards"><a href="{{ path('api_players') }}"><button class="btn">Show players</button></a>

    <h3>Show dealer statistics:</h3>
    <a href="{{ path('api_dealer') }}"><button class="btn">Show dealer</button></a>

    <h3>Percentage of next card being either a face card or an Ace.</h3>
    <a href="{{ path('api_card_stat') }}"><button class="btn">Show stat</button></a>

    <h3>Show current hand/hands:</h3>
    <a href="{{ path('api_show_hands') }}"><button class="btn">Show hands</button></a></div>

{% endblock %}