{% extends "base.html.twig" %}

{% block title %}All books{% endblock %}

{% block body %}
<h1>All books in library<hr></h1>
{{ include('flash.html.twig') }}
<div class="two-col-layout">
    <aside class="aside">
    <div class="cards">
        <a href="{{ path('library') }}"><button>To landing page</button></a><hr>
    <a href="{{ path('add_book') }}"><button>Add new book</button></a><hr>
</div>
    </aside>
<main class="main">
<table>
<th>Cover:</th>
<th>Title:</th>
<th>Author:</th>
<th>ISBN:</th>
<th>Edit/Delete:</th>
{% for book in books %}
    <tr>
    <td><a href="{{ path('book_by_id', {'id' : book.getId()}) }}"><img src="{{ asset('img/books/'~ book.getCover() ~'.png') }}" width="75px"></a></td>
    <td>{{ book.getTitle() }}</td>
    <td>{{ book.getAuthor() }}</td>
    <td>{{ book.getIsbn() }}</td>
    <td><h2><a href="{{ path('update_by_id', {'id' : book.getId()}) }}"> <i class="fa fa-pencil-square-o" aria-hidden="true"></i></a> / 
    <a href="{{ path('delete_by_id', {'id' : book.getId()}) }}"> <i class="fa fa-trash-o" aria-hidden="true"></i></a></h2></td>
    </tr>
    {% endfor %}
</table><hr>
</main>
</div>
{% endblock %}