{% extends "base.html.twig" %}

{% block title %}Update book{% endblock %}

{% block body %}
    <h1>Update book<hr></h1>
    <div class="two-col-layout">
    <aside class="aside">
    <div class="cards">
    <a href="{{ path('library') }}"><button>To landing page</button></a><hr>
    <a href="{{ path('add_book') }}"><button>Add new book</button></a><hr>
    <a href="{{ path('books_show_all') }}"><button>Show all books</button></a><hr></div>
    </aside>
<main class="main">
    <form method="post" action="{{ path('book_update') }}">
    <fieldset>
    <legend>Enter title:</legend>
    <div><input type="number" name="id" value="{{ book.getid() }}" readonly hidden></div>
    <div><input type="text" name="title" value="{{ book.getTitle() }}"></div></fieldset>
    <fieldset>
    <legend>Enter author:</legend>
    <input type="text" name="author" value="{{ book.getAuthor() }}"></fieldset>
    <fieldset>
    <legend>Enter ISBN:</legend>
    <input type="number" name="isbn" value="{{ book.getIsbn() }}"></fieldset>
    <fieldset>
    <legend>Enter name for cover picture (or go with stock-cover):</legend>
    <input type="text" name="cover" value="{{ book.getCover() }}"></fieldset>
    <div class="cards"><br><input type="submit" name="do_it" value="Update book"></div>
    </form><hr>
</main>
</div>


{% endblock %}