{% extends "base.html.twig" %}

{% block title %}Game21{% endblock %}

{% block body %}
<h1>Kortspelet 21</h1>
{# <div class="cards">
    {% for card in deckCards %}
        <img src="{{ asset('img/cards/'~ card ~'.svg') }}" width="100px">
    {% endfor %}
</div> #}

<table>
<th>Players Hand:</th>
<th>Dealers Hand:</th>
<tr>
<td>{% for card in playerCards %}
        <img src="{{ asset('img/cards/'~ card ~'.svg') }}" width="100px">
    {% endfor %}</td>
<td>{% for card in cpuCards %}
        <img src="{{ asset('img/cards/'~ card ~'.svg') }}" width="100px">
    {% endfor %}</td></tr>
<tr>
<td>Card values: {{ playerPoints }}</td>
</tr>
</table>

    <a href="{{ path('hit') }}"><button>Hit!</button></a>
    <a href="{{ path('hit') }}"><button>Stay!</button></a>

<h2> Number of cards left: {{ numberOfCards }}</h2>
{{ include('flash.html.twig') }}

{% endblock %}