{% extends "base.html.twig" %}

{% block title %}Game21{% endblock %}

{% block body %}
<h1>Kortspelet 21<hr></h1>

{{ include('flash.html.twig') }}
{% if (playerMoney <= 0) or (cpuMoney <= 0) %}
    <h2>GAME OVER!</h2>
    <div class="cards"><a href="{{ path('init') }}"><button>Start a new game!</button></a><hr></div>
{% endif %}
<table>
<th>Players Hand:</th>
<th>Dealers Hand:</th>
<tr>
<td>{% for card in playerCards %}
        <img src="{{ asset('img/cards/'~ card ~'.svg') }}" width="100px">
    {% endfor %}</td>
<td>{% for card in cpuCards %}
        <img src="{{ asset('img/cards/'~ card ~'.svg') }}" width="100px">
    {% endfor %}</td></tr>
<tr>
<td>Card values: {{ playerPoints }}</td>
<td>Card values: {{ cpuPoints }}</td>
</tr>
<th>Players Money: {{ playerMoney }}</th>
<th>Dealers Money: {{ cpuMoney }}</th>
</table><hr>

{% if (playerPoints < 21) and (done == "no") %}
    <div class="cards"><a href="{{ path('hit') }}"><button>Hit!</button></a>
    <a href="{{ path('cpuHit') }}"><button>Stay!</button></a></div>
{% endif %}

{% if (done == "yes") and (playerMoney > 0) and (cpuMoney > 0) %}
    <div class="cards"><a href="{{ path('make-bet') }}"><button>Next round!</button></a></div>
{% endif %}

<h2> Number of cards left: {{ numberOfCards }}</h2>


{% endblock %}